<div class="container container-product-list">
  <search
    #searchProduct
    placeholder="{{placeholderSearch}}"
    (toPutListElement)="toPutList($event)"
    [findString]="find">
  </search>
  <h2 class="h2 text-dark">{{ titleView }}</h2>
  <div class="row" *ngIf="!load">
    <div class="col-lg-3 col-sm-6" *ngFor="let item of products">
      <app-product [product]="item" [isList]="true"></app-product>
    </div>
  </div>
  <div class="row" *ngIf="load">
    <layout-spinner [config]="spinnerDirective"></layout-spinner>
  </div>
  <div class="row product-empty" *ngIf="!load && products.length < 1">
    <img src="../../../assets/util/acaparamiento.svg" alt="No hay productos disponible">
    <span>
      No hay productos para mostrar
    </span> 
  </div>
</div>
