/* You can add global styles to this file, and also import other style files */
.h1,
.h2 {
    font-weight: bold;
}

.pt-100{
    padding-top: 100px !important;
}

.h1 {
    font-size: 3em;
}

.h2 {
    font-size: 2.5em;
}

/* colors */

.color-blue {
    color: rgb(7, 82, 168);
}
.bg-blue {
    background-color: rgb(5, 49, 100);
}
.color-red {
    color: #dc3545 !important;
}
.bg-red {
    background-color: #dc3545 !important;
}
.color-white {
    color: #fff;
}

.p-carousel-indicators {
    display: none;
}

@font-face {
    font-family: 'TrajanProRegular';
    src: url('/src/assets/fonts/TrajanProRegular.eot');
    src: url('/src/assets/fontsfonts/TrajanProRegular.eot') format('embedded-opentype'),
         url('/src/assets/fontsfonts/TrajanProRegular.woff2') format('woff2'),
         url('/src/assets/fontsfonts/TrajanProRegular.woff') format('woff'),
         url('/src/assets/fontsfonts/TrajanProRegular.ttf') format('truetype'),
         url('/src/assets/fontsfonts/TrajanProRegular.svg#TrajanProRegular') format('svg');
}
