header {
    background-image: linear-gradient(rgba(84, 86, 88, 0.39), rgba(7, 82, 168, 0.39)),
        url("https://images.hdqwalls.com/wallpapers/beverage-drink-beer-cheers-5k-e4.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    font-size: 1.2em;
    -webkit-border-bottom-right-radius: 15%;
    -moz-border-radius-bottomright: 15%;
    border-bottom-right-radius: 15%;
}
