$red: #dc3545 !important;
$dark: rgb(24, 24, 24);

.stand {
    background-color: $red;
  display: flex;
  justify-content: space-between;
  padding: 3em .2em 3em 3em;

  &-main {
      background-color: #fff;
    position: relative;
    display: flex;
    justify-content: space-between;

    border-radius: 1em;
    padding: 1.5em;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.36);


    
    &-product {
        display: inline-block;
        width: 25em;
        img {
          width: 100%;
        }
    }

    &-info {
      display: flex;
      flex-direction: column;
      padding: 0.5em;
      display: flex;
      justify-content: center;
      align-items: center;

      .info {
        &-id {
          font-weight: 900;
          font-size: 2.5em;
        }

        &-name {
          font-weight: 900;
          font-size: 1.6em;
        }

        &-description {
          text-align: center;
          max-width: 15em;
          min-width: 15em;
          font-size: 1em;
        }
      }
    }
  }

  &-other {
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    padding-bottom: 0;
    padding-right: .3em;

    &-content {
      font-size: 2.5em;
      font-weight: 900;
      text-align: center;
      width: 100%;
    }

    &-items {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 3em;

      .stand-item {
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.36);
        background-color: #fff;
        border-radius: 2em;
        padding: 0.5em;
        text-align: center;
        max-width: 30%;
        min-width: 30%;


        .stand-item-price{
            position: relative;
          
            .product-price {
              position: absolute;
              display: flex;
              flex-direction: column;
              text-align: center;
              top: -2em;
              left: -2em;
              border-radius: 50%;
              background: $dark;
              color: #fff;
              padding: 1em .5em;
              box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.36);
              z-index: 2;
          
              &-label {
                font-weight: 900;
              }

              .price-sale{
                  font-size: .8em;
              }
          
              &-sale {
                padding: 0;
                font-size: .9em;
                font-weight: 900;
              }
            }
    
      }

        &-image {
          width: 100%;

          img {
            width: 40%;
          }
        }

        &-info {
          flex-direction: column;
          padding: 0.5em;
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }

  .rating {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .rating li {
    color: #f1c40f;
    font-size: 12px;
    display: inline-block;
  }
  .rating li.far {
    color: #d6d6d6;
  }
  .btn {
    color: #fff;
    margin-top: 1em;
    background-color: $dark;
  }

  .price-sale {
    font-weight: 400;
    text-decoration: line-through;
    opacity: 0.5;
  }

  .product-item{
        position: relative;
      
        .product-price {
          position: absolute;
          display: flex;
          flex-direction: column;
          text-align: center;
          top: -2em;
          left: -2em;
          border-radius: 50%;
          background: $dark;
          color: #fff;
          padding: 1.5em 2em;
          box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.36);
          z-index: 2;
      
          &-label {
            font-weight: 900;
          }
      
          &-sale {
            padding: 0;
            font-size: 1.8em;
            font-weight: 900;
          }
        }

  }

  .product-item-card{
      min-width: 30%;
      max-width: 30%;
  }

  .mobile{
      display: none;
  }

  .pc{
      display: flex;
  }

  
}

@media screen and (max-width: 1420px){

  .stand{
      display: none;
  }

}