<div class="container-fluid subscription d-flex align-items-center justify-content-end mr-3">
    <div class="row">
        <div class="form-group">
            <label for="correo" class="color-blue">Recibe siempre en tu correo nuestras ofertas</label>
            <div class="input-group mb-1">
                <span class="input-group-text" id="spancorreo">
                    <fa-icon [icon]="icons.mail"></fa-icon>
                </span>
                <input type="text" class="form-control" placeholder="Correo electrónico" [(ngModel)]="mail">
                </div>
                <button class="btn btn-primary" (click)="sendSubscription()">Adherirme</button>
        </div>
    </div>
</div>
<alert #alertSubscription></alert>