.navItems {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar{
      padding: 0;
  }

  .logo {
    margin-right: 10%;
    margin-left: 10%;
  }
  
  li > a.nav-link{
    color: #fff;
    font-size: 0.8em;
  }
  