<div>
  <div class="cart-list">
    <app-header [disabledCart]="true"></app-header>

    <div class="cart-list-container">
      <div class="cart-left">
        <user-info
          (eventUser)="changeUser($event)"
          (eventZone)="changeZone($event)"
        ></user-info>

        <div class="cart-list-products">
          <div class="cart-list-products-title">
            <span class="h2">Productos seleccionados</span>
          </div>

          <div *ngIf="products.length < 1" class="product-empty">
            <span>No hay producto seleccionados</span>
          </div>

          <div class="product-detail" *ngFor="let product of products">
            <div class="product-detail-image">
              <img
                [src]="
                  productService.getUrlImage() +
                  product.ext +
                  '/' +
                  product.imagen
                "
                alt="{{ product.name }}"
              />
            </div>

            <div class="product-detail-info">
              <div class="info-item">
                <span>{{ product.description }}</span>
              </div>

              <div class="info-item">
                <span>AR$ {{ product.totalBuy }}</span>
              </div>

              <div class="info-item">
                <label for="{{ product.name }}">Cantidad</label>
                <input
                  id="{{ product.id }}"
                  name="{{ product.description }}"
                  [(ngModel)]="product.quantyBuy"
                  placeholder="Cantidad de productos"
                  (change)="changeCount(product)"
                  />
              </div>
            </div>

            <div class="product-detail-remove">
              <button
                class="remove btn text-danger"
                (click)="removeItem(product.id)"
              >
                <fa-icon [icon]="icons.remove" class="icon-menu"></fa-icon
                ><span class="font-size-sm"> Eliminar</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="cart-right">
        <div class="cart-detail">
          <div class="cart-detail-title">
            <span class="h2">Detalle de compra</span>
          </div>

          <div class="cart-detail-items">
            <div class="cart-detail-item">
              <span>Total de productos:</span>
              <span class="item-value">AR$ {{ totalPriceProduct }}</span>
            </div>

            <div *ngIf="zone != null" class="cart-detail-item">
              <span>Precio de envío:</span>
              <span class="item-value">AR$ {{ zone.price }}</span>
            </div>
          </div>

          <div class="cart-detail-item-total color-red">
            <span> <span class="currency">AR$</span> {{ totalBuy }}</span>
          </div>

          <div *ngIf="isDisableForBuy" class="cart-detail-content">
            <span>Para poder continuar con la compra debes ingresar con tu usuario y 
              tener al menos un producto agregado al carrito de compras</span>
          </div>

          <div class="cart-detail-button">
            <button
              class="checkout-button btn bg-blue color-white color-red-hover btn-shadow btn-block mt-4"
              (click)="toBuy()"
              [disabled]="isDisableForBuy">
              <fa-icon [icon]="icons.cashier" class="icon-menu"></fa-icon>
              Procesar orden
            </button>

            <button class="btn bg-red color-white btn-shadow btn-block mt-3"
              (click)="goToCatalogue()">
              <fa-icon [icon]="icons.cart" class="icon-menu"></fa-icon>
              Continuar comprando
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>

  <alert #alertCart></alert>
</div>
