<div class="list">
  <app-header [disabledCart]="true"></app-header>
  <div class="container pb-5 mb-2 mb-md-4">
    <!--INFO section of client-->

    <div class="row">
      <div class="col-sm-12 col-lg-8">
        <user-info (eventZone)="changeZone($event)"></user-info>
      </div>
    </div>

    <!--INFO section of products -->
    <div class="row">
      <section class="col-sm-12 col-lg-8">

        <div class="d-flex align-items-center pt-3 pb-2 pb-md-3 my-1">
          <span class="h2 text-dark mb-0">Productos seleccionados</span>
        </div>
        <div class="shop_table shop_table_responsive cart woocommerce-cart-form__contents">
          <div *ngFor="let product of products"
            class="woocommerce-cart-form__cart-item cart_item d-sm-flex justify-content-between align-items-center my-4 pb-3 border-bottom">
            <div class="media d-block d-sm-flex align-items-center text-center text-sm-left">
              <div class="product-thumbnail d-inline-block mx-auto mr-sm-4 mb-2 mb-sm-0">
                <img width="120" [src]="productService.getUrlImage() + product.ext + '/' + product.imagen">
              </div>
              <div class="media-body">
                <div class="product-name" data-title="Product">
                  <h3 class="product-title font-size-base mb-2 color-red">{{product.description}}</h3>
                </div>
                <div class="product-price font-size-base text-accent mb-2 mb-sm-0" data-title="Price">
                  <span class="woocommerce-Price-amount amount font-weight-bold">
                    <span class="woocommerce-Price-currencySymbol">AR$ </span>{{product.totalBuy}}
                  </span>
                </div>
              </div>
            </div>
            <div class="pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="width: 9rem;">
              <div class="product-quantity" data-title="Quantity">
                <div class="form-group mb-0"><label class="font-weight-medium d-none d-sm-block"
                    for="quantity_60d0e31aa9c2a">Cantidad</label>
                  <div class="quantity">
                    <input id="{{product.id}}" class="form-control" name="{{product.description}}"
                      [(ngModel)]="product.quantyBuy" placeholder="">
                  </div>
                </div>
              </div>
              <div class="product-remove">
                <a href="https://w3layouts.com/cart/?remove_item=a5f3c488082d31416e5323823b4bc5d5&amp;_wpnonce=a1e7987a86"
                  class="remove btn btn-link px-0 text-danger" aria-label="Remove this item" data-product_id="42940"
                  data-product_sku="">
                  <fa-icon [icon]="icons.remove" class="icon-menu"></fa-icon><span class="font-size-sm"> Eliminar</span>
                </a>
              </div>
            </div>
          </div>
        </div>


        <input type="hidden" id="woocommerce-cart-nonce" name="woocommerce-cart-nonce" value="a1e7987a86"><input
          type="hidden" name="_wp_http_referer" value="/cart/">
      </section>
      <aside class="col-sm-12 col-lg-4 pt-4 pt-lg-0">
        <div class="cz-sidebar-static rounded-lg box-shadow-lg ml-lg-auto">


          <div class="cart-collaterals">
            <div class="cart_totals ">

              <div class="d-flex align-items-center pt-3 pb-2 pb-md-3 my-1">
                <span class="h2 mb-1 pb-1 text-center">Detalle de la compra</span>
              </div>


              <div class="shop_table shop_table_responsive pb-2">

                <div class="d-flex justify-content-between align-items-center font-size-md mb-2 pb-1 cart-subtotal">
                  <span class="mr-2">Total de productos:</span>
                  <span class="text-right" data-title="Subtotal"><span
                      class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">AR$
                        </span>{{totalPriceProduct}}</bdi></span></span>
                </div>

                <div *ngIf="zone != null" class="d-flex justify-content-between align-items-center font-size-md mb-2 pb-1 cart-subtotal">
                  <span class="mr-2">Precio de envío:</span>
                  <span class="text-right" data-title="Subtotal"><span
                      class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">AR$
                        </span>{{zone.price}}</bdi></span></span>
                </div>

                <div class="order-total text-center border-top pt-4 mt-4">
                  <h3 class="font-weight-normal mb-0" data-title="Total"><strong><span
                        class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">AR$
                          </span>{{totalBuy}}</bdi></span></strong>
                  </h3>
                </div>


              </div>

              <div class="mt-5">
                <a class="checkout-button btn bg-blue color-white color-red-hover btn-shadow btn-block mt-4">
                  <fa-icon [icon]="icons.cashier" class="icon-menu"></fa-icon>
                  Procesar compra
                </a>

                <a class="btn bg-red color-white btn-shadow btn-block mt-3" (click)="goToCatalogue()">
                  <fa-icon [icon]="icons.cart" class="icon-menu"></fa-icon>
                  Continuar comprando
                </a>

                <div class="wcppec-checkout-buttons woo_pp_cart_buttons_div">
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
  <app-footer></app-footer>
</div>