  <nav [ngClass]="doScroll ? '' : 'static'" class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
      </button>

      <!-- Step 2: Add the ngbCollapse directive to the element below. -->
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav navItems row justify-content-between">
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre Nosotros</a>
          </li>
          <li class="catalogo nav-item dropdown">
            <a class="nav-link catalogo-link dropdown-toggle" (click)="goToCatalogue()">
              Cátalogo
            </a>
            <div *ngIf="categories.length > 0" class="category">
              <ul>
                <li *ngFor="let item of categories" class="subcategory">
                  <a (click)="goToCategory(item.id, item.name)" class="a-subcategory"><img [src]="categoryService.getUrlImage() + item.exticon + '/' + item.icon" class="icon-category" alt="" width="30"> {{item.name}}</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item logo">
            <a href="" class="nav-link">
              <img src="assets/logo.png" alt="" srcset="" width="120">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mi cuenta</a>
          </li>
        </ul>
      </div>

    </div>

  </nav>
  <app-cart *ngIf="!disabledCart"></app-cart>
