.navbar{
  position: fixed;
  width: 100%;
  top: 5vh;
  z-index: 1000;
  padding: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  max-height: 15vh;
  min-height: 15vh;
}

$bgHeader: #000;
$bgHeaderWhite: #fff;
$bgRed: #dc3545 ;
//rgba(220, 53, 69,.95);

.static{
  top: 0;
  background: rgba($bgHeader,.95);
}
.navbarIn {
  animation-duration: 1s;
  animation-name: navBarSlideIn;
}

.navbarOut{
  animation-duration: 1s;
  animation-name: navBarSlideOut;
}

@keyframes navBarSlideIn {
  from {
    top: 5vh;
    background-color: rgba(220, 53, 69,0);
  }

  to {
    top: 0;
    background-color: rgba($bgHeader,.95);
  }
}

@keyframes navBarSlideOut {
  from {
    top: 0;
    background-color: rgba($bgHeader,.95);
  }

  to {
    top: 5vh;
    background-color: rgba(220, 53, 69,0);
  }
}

.navItems {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-item {
  line-height: 6;
  margin-left: 50px;
  margin-right: 50px;
}

.nav-item a{
  padding: 0;
  cursor: pointer;
}

.logo {
  margin-right: 5%;
  margin-left: 5%;
}

.logo a img{
  width: 5em;
}

li > a.nav-link{
  color: #fff;
  font-size: 1em;
}

.category{
  opacity: 0;
  display: none;
  position: fixed;
  margin-top: -4vh;
  background-color: rgba(0,0,0,1);
  border-radius: 20px;
  border-top-left-radius: 0;
  font-size: 0.85em;
  max-height: 300px;
  width: 250px;
}

.catalogo:hover > .category{
  animation-duration: 1s;
  animation-name: categoryOn;
  opacity: 1;
  display: inline-block;
}


@keyframes categoryOn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.category ul{
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 15px;
  padding-right: 25px;
  padding-top: 0px;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 250px;
}

.subcategory{
  list-style: none;
  line-height: 3;
}

.subcategory a{
  text-decoration: none;
  color: #f0f0f0;
}

.subcategory{
  margin-bottom: 2px;
}

.subcategory:hover{
  background-color: rgba($bgRed, 1);
  color: $bgHeader !important;
}

@keyframes subCategoryHover {
  from {
    background-color: rgba(220, 53, 69, 0);
  }

  to {
    background-color: rgba($bgRed, 1);
  }
}


.icon-category{
  padding: 5px;
  margin-right: 1em;
}

//style for scroll

.category ul::-webkit-scrollbar {
  -webkit-appearance: none;
}

.category ul::-webkit-scrollbar:vertical {
  width:5px;
}

.category ul::-webkit-scrollbar-button:increment,.category ul::-webkit-scrollbar-button {
  display: none;
}

.category ul::-webkit-scrollbar:horizontal {
  height: 5px;
}

.category ul::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  //border: 2px solid #f1f2f3;
}

.category ul::-webkit-scrollbar-track {
  border-radius: 10px;
}

.a-subcategory{
  width: 100%;
  display: inline-block;
  cursor: pointer;
}
