<!-- <ui-carousel slides="ctrl.autoplay.slides" slides-to-show="3" slides-to-scroll="1" autoplay="true" autoplay-speed="2000"
    dots="true">
    <carousel-item>
        <h3>{{ item + 1 }}</h3>
    </carousel-item>
</ui-carousel> -->
<p-carousel [value]="brands" styleClass="custom-carousel" [numVisible]="5" [numScroll]="1" [circular]="true"
    [autoplayInterval]="10000" [responsiveOptions]="responsiveOptions">
    <ng-template let-brand pTemplate="item">
        <div class="p-mb-3">
            <img src="assets/brands/{{brand.image}}" [alt]="brand.name" width="100" class="logo-brand"/>
        </div>
    </ng-template>
</p-carousel>