<div class="container">
    <div class="row pt-3 topbar">
        <div class="col-sm-4 iconSocial">
            <span>
                <fa-icon [icon]="icons.facebook"></fa-icon>
                <fa-icon [icon]="icons.instagram"></fa-icon>
                <fa-icon [icon]="icons.whatsapp"></fa-icon>
            </span>
        </div>
        <div class="col-sm-4 offset-sm-4">
            <span class="cart float-right">
                <fa-icon [icon]="icons.cart"></fa-icon>
                Carrito
                <span class="countProdu">150</span>
            </span>
        </div>
    </div>
</div>