.copyrigth{
    font-weight: bold;
    font-size: .8em;
}

.entity{
    float: left;
    border-right: solid 1px #ccc;
    padding-left: 20%;
}

.contact{
    font-weight: 700;
    font-size: 0.6em;
    float: right;
}

.infoContact{
    width: 45%;
    margin: 0 auto;
}

.social{
    margin: 0 auto;
    font-size: 2.8em;
}

.social a{
    color: #dc3545;
}

.social a:hover{
    color: #22314A;
}

.number a{
    color: #000;
}

.number a:hover{
    text-decoration: none;
    color: #dc3545;
}