<div class="row w-100 text-center">
    <div class="infoContact mb-4">
        <div class="col-12 col-md-6 entity">
            <img src="assets/logo_footer.png" alt="El gran mercado de bebidas" width="120">
        </div>
        <div class="col-12 col-md-6 contact">
            <div class="row text-center color-blue">
                <span class="social">
                    <a href="https://bit.ly/3qkUqu0" target="_blank" rel="noopener noreferrer">
                        <fa-icon [icon]="icons.facebook"></fa-icon>
                    </a>
                    <a href="https://bit.ly/3gInIiV" target="_blank" rel="noopener noreferrer">
                        <fa-icon [icon]="icons.instagram"></fa-icon>
                    </a>
                    <a href="https://bit.ly/2UmbL9Z" target="_blank" rel="noopener noreferrer">
                        <fa-icon [icon]="icons.whatsapp"></fa-icon>
                    </a>
                </span>
                <span class="col-12 number">
                    <a href="https://bit.ly/2UmbL9Z" target="_blank" rel="noopener noreferrer">
                        +54 11 6010 00 74 
                    </a>
                </span><br>
                <span class="col-12 color-red">
                    ventas@elgranmercadodebebidas.com.ar
                </span><br>
                <span class="col-12">
                    Av. Sgto Cayetano Beliera (Ex ruta 8) 1510, B1629 Pilar, Provincia de Buenos Aires
                </span>
            </div>
        </div>
    </div>
    <span class="w-100 pb-2 color-blue copyrigth">
        ©2018-2020 Todos los derechos reservados a El Gran Mercado de Bebidas
    </span>
</div>
