$color-green: #2ae27a;
$color-green-dark: #2d8152;
$color-red: #ff4c4c;
$color-dark: rgb(60, 60, 60);
$color-primary: #a780ff;
$color-secondary: #270570;
$color-yellow: rgb(255, 225, 126);

body{
  margin: 0;
  padding: 0;
  background-color: rgba($color-dark, 0.3)
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  background: #fff;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.36);

  h1{
    margin: 0;

    span{
      color: $color-primary;
    }
  }

  .button-create {
    background-color: rgba($color-green, 0.6);
    color: rgba($color-dark, 0.8);

    &:hover {
      background-color: rgba($color-green, 0.9);
      color: rgba($color-dark, 1);
    }

    &:active {
      background-color: rgba($color-dark, 0.8);
      color: rgba($color-green, 0.6);
    }
  }
}

button, .button {
  border: none;
  border-radius: 0.6em;
  font-size: .8em;
  font-weight: 700;
  padding: 1em;
  cursor: pointer;

  &:active, &:focus, &:hover{
    border: unset;
  }
}

button.danger{
    background: $color-red;
    color: #fff;

    &:hover{
      background-color: rgba($color-red, .8);
    }
}

.list {
  background-color: #e5e5e5;

  &_title {
    background: linear-gradient(0, #ddd5f5 0%, #ddd5f5 100%);
    padding: 1em 0;

    h1 {
      text-align: center;
      font-size: 2em;
      font-weight: 700;
      color: $color-secondary;
    }
  }

  &_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.item {
  width: 20em;
  margin: 1em 1em;
  padding: 1.5em;
  border-radius: 1em;
  background: #fff;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.36);

  &_img {
    width: 100%;
    min-height: 10em;
    max-height: 10em;
    overflow: hidden;
    border-radius: 1em;
    margin-bottom: 1em;

    img {
      width: 100%;
      transition: all 1.9s ease;
      &:hover {
        transform: scale(1.5);
      }
    }
  }

  &_info {
    width: 100%;
    &_name {
      font-size: 1.5em;
      font-weight: 700;
    }

    &_description {
      font-weight: 300;
      font-style: italic;
    }
  }

  &_button {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;

    &_update {
      color: $color-primary;
    }
  }
}

.item_creation{
  background: rgba($color-green,.4);
  color: rgba($color-green-dark,.5);
  cursor: pointer;
  
  &_add, &_text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 900;
    font-family: sans-serif;
  }
  &_add{
    font-size: 10em;
  }

}


.form{

  &_group{
    width:100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
    
    label{
      font-size: .8em;
      font-weight: 600;
      margin-bottom:.2em;
      font-family: sans-serif;
    }

    input, select{
      font-size: 1em;
      padding: .5em .5em;
      border: solid .1em $color-dark;
      border-radius: .2em;
      font-weight: 300;

      &:active, &:focus, &:focus-visible{
        border-width: .2em;
        border-color: $color-dark;
      }

      &[type="file"]{
        max-width: 200px;
      }

    }

    select{
      padding: .5em;

    }

    textarea{
      font-size: 1em;
      font-weight: 300;
      padding: .5em .5em;
      max-width: 95%;
      min-width: 95%;
      min-height: 2em;
      max-height: 4em;
      border: solid .1em $color-dark;
      border-radius: .2em;

      &:active, &:focus, &:focus-visible{
        border-width: .2em;
        border-color: $color-dark;
      }
    }

    &_button{
      display: flex;
      justify-content: space-between;
    }

  }

}

menu{
  margin: 0;
}


//padding

.pg-10{
  padding: 10em;
}

.ptb-9{
  padding: 8em 0px;
}